version: 1.0.1.{build}
os: Visual Studio 2017
configuration: Release
platform: Any CPU
assembly_info:
  patch: true
  file: AssemblyInfo.*
  assembly_version: "{version}"
  assembly_file_version: "{version}"
  assembly_informational_version: "{version}-$(APPVEYOR_REPO_COMMIT)"
before_build:
  - ps: nuget restore
build:
  project: SharpHostsFile.sln
after_build:
- ps: >-
    .\SharpHostsFile\nuget_pack.ps1
artifacts:
- path: '*.nupkg'
  name: nuget_package
deploy:
  - provider: NuGet
    api_key:
      secure: 7iJJVXMbGnaDbwumUb6NlYmNBXhHWYEON8qv17eEsCPySOJ+ngrj7N29rpy/BKc9
    skip_symbols: false
    artifact: nuget_package
    on:
      branch: master